<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><img class="imgLogo" src="./../assets/images/favicon.svg" alt="favicon"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="./../index.html">Projects</a>
		<a href="./../about.html">About</a>
		<a href="./../contact.html">Contact</a>

		<!-- Checkbox for toggling menu -->
		<input type="checkbox" id="check" />

		<!-- Menu icon -->
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
	</nav>
</header>